@charset "utf-8";
/* CSS Document */

body {
	margin-top: 20px;
	overflow-y: scroll;
}
input[type="text"] {
    width: 100%;
	border: none;
	padding: 5px;
}
.table-borderless td, .table-borderless tbody {
	border:  hidden;
}
.login input[type="text"], .login input[type="password"] {
	width: 300px;
	border: 1px solid #9E9E9E;
	padding: 5px;
}
.login td {
	padding: 10px;
}


		span.invalid { background-color:#ffcccc; color:#cc0000; border:1px dotted #ff0000; padding:1px; margin:0px 1px; }
#pleasewait.valhide { display: none; }		
#pleasewait { display:inline-block; font-size:120%; color:#cc0000; font-weight:bold; margin-bottom:12px; padding:5px; border:1px solid #cc0000; }
		#pleasewait.complete { color:#009900; border:1px solid #009900; }